/*
 * 전체 적용 CSS
 */
body {
    width: 250px;
    height: 300px;
    margin: 0;
    padding: 0;
}

/*
 * Clock Canvas
 */
#clockface {
    width: 220px;
    height: 220px;
    margin: 15px 15px 0px 15px;
}

/*
 * 뒤로가기 버튼
 */
#back-link {
    background: url('images/back.png');
    background-size: cover;

    position: absolute;
    left: 4px;
    top: 4px;
    
    width: 32px;
    height: 32px;
}

#back-link:hover {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
}

#back-link:active {
    background-color: rgba(0, 0, 0, 0.24);
}

/*
 * 버튼
 */
.btn {
    background-color: #fff;
    border: 0;
    cursor: default;
    color: black;

    display: block;
    width: 80%;
    padding: 4px;
    margin: 4px auto 8px auto;

    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:active {
    box-shadow: unset;
}

.btn-blue {
    background: radial-gradient(circle at 10% 20%, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 90%);
    color: white;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.3),
        1px -1px 0 rgba(0, 0, 0, 0.3),
        -1px 1px 0 rgba(0, 0, 0, 0.3),
        1px 1px 0 rgba(0, 0, 0, 0.3);
}

.btn-blue:active {
    background: radial-gradient(circle at 10% 20%, rgb(132, 242, 249) 0%, rgb(97, 161, 250) 90%);
}

.btn-orange {
    background: linear-gradient(to bottom, #ffa040, #ff6f00 74%);
    color: white;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.3),
        1px -1px 0 rgba(0, 0, 0, 0.3),
        -1px 1px 0 rgba(0, 0, 0, 0.3),
        1px 1px 0 rgba(0, 0, 0, 0.3);
}

.btn-orange:active {
    background: linear-gradient(to bottom, #ff6f00, #ffa040 74%);
}

.btn:focus {
    outline:0;
}