/*
 * 전체 적용 CSS
 */
body {
    width: 250px;
    height: 300px;
    margin: 0;
    padding: 0;
}

/*
 * Clock Canvas
 */
#clockface {
    width: 220px;
    height: 220px;
    margin: 15px;
}

/*
 * 뒤로가기 버튼
 */
#back-link {
    background: url('images/back.png');
    background-size: cover;

    position: absolute;
    left: 4px;
    top: 4px;
    
    width: 32px;
    height: 32px;
}

#back-link:hover {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
}

#back-link:active {
    background-color: rgba(0, 0, 0, 0.24);
}

/*
 * 버튼
 */
.btn {
    background-color: #fff;
    border: 0;
    cursor: default;

    display: block;
    width: 80%;
    padding: 4px;
    margin: 4px auto 4px auto;

    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-red {
    /* background: linear-gradient(0% #fff, 49% #eee, 50% #dedede, 100% #afafaf); */
}

.btn-green {

}

.btn:focus {
    outline:0;
}