body {
    width: 250px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.timer {
    width: 200px;
    height: 200px;
}

.clockbutton {

    border: 1px solid black;
    text-align: center;
    font-family: '양진체';
    
}

.clockbutton:hover {

    box-shadow: 10px 10px 20px gray;
    
}

.clockbutton a{
    display: block;
    padding: 22px;
   
}

.clockbutton a:link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.clockbutton a:hover{
    color: coral;

}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
    padding:5px;
}

@font-face { font-family: '양진체'; src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff'); font-weight: normal; font-style: normal; }